/* game.module.css */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resetButton {
	background-color: #4caf50; /* Зеленый фон */
	border: none; /* Убираем границу */
	color: white; /* Белый текст */
	padding: 15px 32px; /* Отступы */
	text-align: center; /* Выравнивание текста по центру */
	text-decoration: none; /* Убираем подчеркивание */
	display: inline-block; /* Строчно-блочный элемент */
	font-size: 16px; /* Размер шрифта */
	margin: 20px 0; /* Отступы сверху и снизу */
	cursor: pointer; /* Курсор указателя при наведении */
	border-radius: 8px; /* Закругленные углы */
	transition: background-color 0.3s; /* Плавный переход при изменении фона */
}

.resetButton:hover {
	background-color: #45a049; /* Темно-зеленый фон при наведении */
}
